<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-point-emport-heading" jhiTranslate="testmdcApp.pointEmport.home.createOrEditLabel">Create or edit a Point Emport</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testmdcApp.pointEmport.nameFR" for="field_nameFR">Name FR</label>
                    <input type="text" class="form-control" name="nameFR" id="field_nameFR"
                           formControlName="nameFR"/>
                    <div *ngIf="editForm.get('nameFR').invalid && (editForm.get('nameFR').dirty || editForm.get('nameFR').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nameFR').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testmdcApp.pointEmport.nameGB" for="field_nameGB">Name GB</label>
                    <input type="text" class="form-control" name="nameGB" id="field_nameGB"
                           formControlName="nameGB"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testmdcApp.pointEmport.commentFR" for="field_commentFR">Comment FR</label>
                    <input type="text" class="form-control" name="commentFR" id="field_commentFR"
                           formControlName="commentFR"/>
                    <div *ngIf="editForm.get('commentFR').invalid && (editForm.get('commentFR').dirty || editForm.get('commentFR').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('commentFR').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testmdcApp.pointEmport.commentGB" for="field_commentGB">Comment GB</label>
                    <input type="text" class="form-control" name="commentGB" id="field_commentGB"
                           formControlName="commentGB"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testmdcApp.pointEmport.mnemonicGB" for="field_mnemonicGB">Mnemonic GB</label>
                    <input type="text" class="form-control" name="mnemonicGB" id="field_mnemonicGB"
                           formControlName="mnemonicGB"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testmdcApp.pointEmport.dicoCDM" for="field_dicoCDM">Dico CDM</label>
                    <select class="form-control" id="field_dicoCDM" name="dicoCDM" formControlName="dicoCDM">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dicoCDMOption.id === editForm.get('dicoCDM').value?.id ? editForm.get('dicoCDM').value : dicoCDMOption" *ngFor="let dicoCDMOption of dicocdms; trackBy: trackDicoCDMById">{{dicoCDMOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
